/.metadata/
.project
/target/*
IMSBackEnd/src/main/resources/application.properties
IMSBackEnd/src/main/resources/application.properties
IMSBackEnd/target/classes/application.properties
IMSBackEnd/.classpath
IMSBackEnd/.classpath
