<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:remove="all">Template for Shipment email </title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
    
    <div style="font-size:20px"><em>What ever you need ---</em>
           <div style="text-indent: 8em;">
            <img src="cid:imtheguy"  height="80" width="80" /><em>  .com</em>
   		  </div> 
    </div>
        <p> Greetings  <span th:text="${shipmentNotice.shipmentNumber}"> </span> </p>
  
            <H4> We have received your Shipment Notice and are Processing it !</H4>
  
        <p>Here are your Shipment details:</p>
 		<b>Order Number: </b> <span th:text="${shipmentNotice.id}"></span>
 		
<!--          <div th:each="item : ${shipmentNotice.shipmentNumber}" >  -->
  <div style="text-indent: 3em;">		
	 		<p><b>Shipment Number: </b> <span th:text="${shipmentNotice.shipmentNumber}"></span></p>
	 		<p><b>Service Company: </b> <span th:text="${shipmentNotice.shipComp}"></span></p>
	 		<p><b>Service Company: </b> <span th:text="${shipmentNotice.shipComp}"></span></p>
	 		
</div>	
	
 		
         <p><br />
            Thanks for your Shipment, <br />
            &emsp; <em><b></b></em>
        </p>
    </body>
</html>
